.homepage{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* background-color: black; */
}

.formHome{
    background-color: #0c0c10;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer{
    position: fixed;
    bottom: 0;
}

.inputGroup{
    display: flex;
    flex-direction: column;

}

.lable{
    margin-bottom: 20px;
    margin-top: 0;
}
.homeLogo{
     height: 80px;
     margin-bottom: 30px;
}

.inputBox{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background-color: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn{
    background-color:#c8f023;
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover{
    background-color: #c7f023a7;
}

.createInfo{
    margin: 0 auto ;
    margin-top: 20px;
}

.createNewBtn{
    color: #c8f023 ;
    text-decoration: none;
    border-bottom: 1px solid #c8f023;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
    color: #c7f023a7;
    border-color: #c7f023a7;
}

footer a{
    color: #c8f023;
}